/* ---------------************** REGOLE CSS PER LA MODALITA DARK DEL SITO **************--------------- */

[data-theme="light"]{
    --bg: whitesmoke;
    --text: #222;
    --shadow: rgba(0, 0, 0, 0.09);
    --btn: #cbcbcb;
    --icons: #6b757dff;
    --bgScrollBar: rgba(0, 0, 0, 0.2);


}
[data-theme="light"] #themeMode .light{display: none;}

[data-theme="dark"]{
    --bg: #222;
    --text: #eeeeee;
    --shadow: rgba(0, 0, 0, 0.2);
    --btn: #3f3f3f;
    --icons: #6b757dff;
    --bgScrollBar: #ccc;
}
[data-theme="dark"] #themeMode .dark{display: none;}

/* .color{
    --white: #EDEEF0;
    --whiteMiddle: #E1E3E6;
    --whiteGrey: #B1B5B7;
    --grey: #5D5F64;
    --blackGrey: #27292A;
    --blackMiddle: #1C1D1F;
    --black: #141415;
} */

.newColorWhite{
    --bg: #EDEEF0;
    --text: #1C1D1F;
    --shadow: #141415;
    --btn: #B1B5B7;
    --icons: #5D5F64;
    --bgScrollBar: #141415;
}

/* ---------------************** REGOLE CSS PER LA MODALITA DARK DEL SITO **************--------------- */

/* ---------------************** REGOLE CSS PER LA MODALITA DARK DEL SITO IN BASE AL TEMA DEL COMPUTER **************--------------- 
@media (prefers-color-scheme: dark){
    :root{
        --bg: #222;
    --text: #eeeeee;
    --shadow: rgba(0, 0, 0, 0.2);
    --btn: #3f3f3f;
    --icons: #6b757dff;
    --bgScrollBar: #ccc;
    }
}
/* ---------------************** REGOLE CSS PER LA MODALITA DARK DEL SITO IN BASE AL TEMA DEL COMPUTER **************--------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    color: var(--text);
    width: fit-content;
}

h4:hover {
    border-bottom: 1px solid var(--text);
}

/* SCROLLBAR */
html::-webkit-scrollbar {
    width: 9px;
}

/* html::-webkit-scrollbar-track {

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
} */
html::-webkit-scrollbar-thumb {
    background: var(--bgScrollBar);
    border-radius: 9px;
}

/* SCROLLBAR */

/* NAVBAR */

#navabr{
    width: 100%;
    top: 0;
    background-color: var(--bg);
    z-index: 99;
    box-shadow: 0px 0px 9px 9px var(--shadow);
}

.nav-link,
.navbar-brand,
.copy {
    color: var(--text);
}

.nav-link:hover,
.navbar-brand:hover{
    color: var(--text);
}

.dark,
.light{
    font-size: 1.5em;
}

#themeMode{
    cursor: pointer;
}

/* NAVBAR */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#hero {
    margin-top: 12%;
    margin-bottom: 9%;
    width: 100%;
}

#imageProfile {
    background-image: url(../img/IMG_20231227_103722-removebg-preview.png);
    background-size: cover;
    height: 19rem;
    width: 19rem;
    /* background-color: var(--bgImg); */
    /* border: 2px solid var(--text); */
    box-shadow: inset 0px 0px 9px 9px var(--shadow);
    border-radius: 50em;
}

i {
    font-size: 2em;
    color: var(--text);
}

.dimensioneI {
    font-size: 3em;
}


/* WORKS */

#altezzaContenitoreTitleWorks{
    margin-bottom: 22%; 
    margin-top: 17em;
    margin-bottom: 9em;
}

#larghezzaContenitoreTitleWorks{
    position: relative;   
}

#works{
    width: fit-content;
    position: relative; 
    position: absolute;
}

#titleWorks {
    font-weight: bold;
    font-size: 22em;
    opacity: 5%;
}

@media screen and (max-width: 399px) {
    #titleWorks {
        font-size: 5em;
    }
}

@media screen and (max-width: 576px) {
    #altezzaContenitoreTitleWorks{
        margin-top: 11em;
        margin-bottom: 2em;
    }
    #works{
        top: -100px;
    }
    #titleWorks {
        font-size: 7.5em;
    }
}

@media screen and (min-width: 576px) {
    #altezzaContenitoreTitleWorks{
        margin-top: 15em;
        margin-bottom: 4em;
    }
    #works{
        top: -140px;
    }
    #titleWorks {
        font-size: 10em;
    }
}

@media screen and (min-width: 768px) {
    #works{
        top: -220px;
    }
    #titleWorks {
        font-size: 15em;
    }
}

@media screen and (min-width: 992px) {
    #titleWorks {
        font-size: 19em;
    }
}

@media screen and (min-width: 1200px) {
    #titleWorks {
        font-size: 22em;
    }
}
/* single work */

#worksSection{
    position: relative;
} 

.singleWork{
    padding: 4%;
    /* border-bottom: 1px solid rgb(147, 147, 147); */

    position: relative;
}

.mobileLinkSingleWork {
    display: none;
}

.previewWorkIMG{
    display: none;
    width: 480px;
    height: 310px;
    object-fit: contain;
    background-color: var(--bgImg);
}

@media screen and (max-width: 992px) {
    .mobileLinkSingleWork {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .singleWork:hover{
        /* box-shadow: 5px 10px 18px #888888; */
        box-shadow: 0px 0px 9px 9px var(--shadow);
        /* background-color: rgb(158, 158, 158); */
        /* background: rgb(158,158,158);
background: linear-gradient(180deg, rgba(158,158,158,1) 22%, rgba(158,158,158,0) 100%); */
        border-bottom: 0px;
    }
    
    .singleWork:hover .previewWorkIMG{
        position: absolute;
        right: 7%;
        top: -22%;
        z-index: 22;

        display: block;
    
        /* per fare lanimazione delle preview dei lavori bisogna faer con un transition e un'immagine più lunga e un contenitore che non faccia vedere altre i bordi */ 
    }
}

/* single work */

/* ASIDE - WORKS */


/* CONTACT */

#contactSection{
    margin-top: 9%;
    margin-bottom: 9%;
    padding: 99px;
    border-radius: 99px;
    box-shadow: /* inset */ 0px 0px 9px 9px var(--shadow);
}

.bottoneCss{
    position: relative;
    text-align: center;
    color: var(--text);
    padding: 10px;
    border: 1px solid var(--text);
    font-weight: 600;
}

.bottoneCss .sfondo{
    background-color: var(--btn);
    width: calc(100% + 7px);
    height: 52px;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: -99;
}

.bottoneCss:hover{
    color: var(--text);
    text-decoration: underline;
}

.bottoneCss:hover .sfondo{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
}

/* CONTACT */


/* FOOTER */

#footerContainer{
    background-color: var(--bg);
    box-shadow: 0px 0px 9px 9px var(--shadow);
}

/* #arrowForTop{
    bottom: 20px;
  right: 20px;
  position: fixed;
}
 */
#arrowForTop i,
.hoverIconContacts i,
.dark,
.light{
    color: var(--icons);
}
#arrowForTop:hover i,
.hoverIconContacts:hover i,
.dark:hover,
.light:hover{
    color: var(--text);
}

/* FOOTER */
